In [12]:
# Dependencies
import pandas as pd

In [13]:
df=pd.read_csv("Resources/DataOne.csv")

In [14]:
df.head(2)

   id             full_name                       email  gender
0   1  Jacquenette Nesterov  jnesterov0@squarespace.com  female
1   2       Leanora Cashell       lcashell1@blogger.com    male

In [15]:
# Show just the header
df.head()

   id             full_name                       email      gender
0   1  Jacquenette Nesterov  jnesterov0@squarespace.com      female
1   2       Leanora Cashell       lcashell1@blogger.com        male
2   3         Arley Medford     amedford2@newyorker.com        male
3   4     Rafaello Crawshaw     rcrawshaw3@multiply.com        male
4   5     Karalee Hallaways      khallaways4@uol.com.br  non-binary

In [16]:
# Show a single column
df["full_name"].head()

0    Jacquenette Nesterov
1         Leanora Cashell
2           Arley Medford
3       Rafaello Crawshaw
4       Karalee Hallaways
Name: full_name, dtype: object

In [17]:
# Show mulitple specific columns--note the extra brackets
df[["full_name", "email"]].head()

              full_name                       email
0  Jacquenette Nesterov  jnesterov0@squarespace.com
1       Leanora Cashell       lcashell1@blogger.com
2         Arley Medford     amedford2@newyorker.com
3     Rafaello Crawshaw     rcrawshaw3@multiply.com
4     Karalee Hallaways      khallaways4@uol.com.br

In [19]:
df1=df[["full_name", "email"]]

In [21]:
df1.head(2)

              full_name                       email
0  Jacquenette Nesterov  jnesterov0@squarespace.com
1       Leanora Cashell       lcashell1@blogger.com

In [28]:
df1.to_csv(rf"C:\Users\User\Documents\cnndm\new_df.csv",index=False)

In [8]:
# Export file as a CSV, without the Pandas index, but with the header
file_one_df.to_csv("Output/fileOne.csv")