In [2]:
# Dependencies
import json
import requests
import pandas as pd

In [31]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo',
                     'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.dev/api/people/?search='



# Set empty lists to hold characters height and mass
height = []
mass = []


# Loop through each character

for s in search_characters:
    print(s)
    # Create search query, make request and store in json
    q_url= url +s 
    data=requests.get(q_url).json()
     # Try to grab the height and mass of characters if they are available in the Star Wars API
        
    try:
        height.append(data['results'][0]['height']  )
        mass.append(data['results'][0]['mass']  )
    except:
        #print("Skip this Char")
        pass

    # Handle exceptions for a character that is not available in the Star Wars API

R2-D2
Darth Vader
Godzilla
Luke Skywalker
Frodo
Boba Fett
Iron Man
Jon Snow
Han Solo

In [32]:
 height,mass

(['96', '202', '172', '183', '180'], ['32', '136', '77', '78.2', '80'])

In [3]:
# Create DataFrame

        character height  mass
0           R2-D2     96    32
1     Darth Vader    202   136
2  Luke Skywalker    172    77
3       Boba Fett    183  78.2
4        Han Solo    180    80