# U.S. Census Demo

In [1]:
#!pip install census

In [2]:
from config import api_key

In [3]:
# Dependencies
import requests
import pandas as pd
from census import Census

In [4]:
#!pip install us

In [5]:
from us import states

c = Census( api_key)
c.acs5.get(('NAME', 'B19301_001E',
           ),
          {'for': 'state:{}'.format(states.MD.fips)})

[{'NAME': 'Maryland', 'B19301_001E': 45915.0, 'state': '24'}]

In [6]:
# Import U.S. Census API Key
from config import api_key

# Create an instance of the Census library
c = Census(
    api_key,
    year = 2013
)

## Retrieve data from the U.S. Census using the Census library

References:

* Review the following page to review the Python library documentation: <https://github.com/CommerceDataService/census-wrapper>

* Review the following page to learn more about the data labels: <https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b>

In [7]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
census_data = c.acs5.get(
    (
        "NAME",
        "B19013_001E",
        "B01003_001E",
        "B01002_001E",
        "B19301_001E",
        "B17001_002E"
    ),
    {'for': 'zip code tabulation area:*'}
)

In [11]:

# Convert to DataFrame
census_pd= pd.DataFrame(census_data)
census_pd.head()

,NAME,B19013_001E,B01003_001E,B01002_001E,B19301_001E,B17001_002E,state,zip code tabulation area
0,ZCTA5 01832,57833.0,22121.0,38.5,29014.0,2412.0,25,01832
1,ZCTA5 01833,107775.0,8295.0,42.4,43297.0,191.0,25,01833
2,ZCTA5 01834,97463.0,6675.0,46.1,40222.0,146.0,25,01834
3,ZCTA5 01835,72228.0,13527.0,37.1,31429.0,1153.0,25,01835
4,ZCTA5 01840,18261.0,4547.0,36.8,14758.0,1798.0,25,01840

In [12]:
# Column renaming
census_pd = census_pd.rename(
    columns = {
        "B01003_001E": "Population",
        "B01002_001E": "Median Age",
        "B19013_001E": "Household Income",
        "B19301_001E": "Per Capita Income",
        "B17001_002E": "Poverty Count",
        "NAME": "Name",
        "zip code tabulation area": "Zipcode"
    }
)

In [13]:
census_pd.head(2)

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,state,Zipcode
0,ZCTA5 01832,57833.0,22121.0,38.5,29014.0,2412.0,25,01832
1,ZCTA5 01833,107775.0,8295.0,42.4,43297.0,191.0,25,01833

In [8]:

# Add a Poverty Rate column (Poverty Count / Population)


# Configure the final DataFrame


# Display DataFrame length and sample data

In [9]:
# Save the DataFrame as a CSV
# Note: To avoid any issues later, use encoding="utf-8"